.app {
  display: inline-block;
  background-color: var(--color-black);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 180rem;
  height: 52rem;
  border-radius: 8rem;
  text-indent: -9999px;
}
.app__appstore {
  background-image: url('../assets/appstore-light.svg');
}
.app__googleplay {
  background-image: url('../assets/googleplay-light.svg');
}