/*-----------------------------------------------------------------------
/// Anchors
-----------------------------------------------------------------------*/

a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav a, 
nav a:visited {
    color: black;
}

/*-----------------------------------------------------------------------
/// Styles for the button Sign in/up, Learn more and Discover more
-----------------------------------------------------------------------*/
.link__discover_more {
    color: var(--color-gray-700);
    font-size: var(--fontsize-body-s);
    display: block;
    width: 167rem;
    height: 67rem;
    align-content: center;
    text-align: right;
    padding-left: 60rem;
    background-image: url('../assets/arrow-down-black-w-circle-bg.svg');
    background-repeat: no-repeat;
    background-position-x:0rem;
    background-position-y:0rem;
    margin-top: 205rem;
    margin-bottom: 55rem;
}

.link__discover_more:visited {
   color: var(--color-gray-700);
}

.button {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: var(--fontsize-body-s);
    font-weight: var(--fontweight-semibold);
    align-content: center;
    
}

.button__signin {
    display: inline-block;
    width: 140rem;
    height: 36rem;
    background-image: url('../assets/avatar.svg');
    background-repeat: no-repeat;
    background-position-x: 20rem;
    background-position-y: center;
    text-align: right;
    border-radius: 4rem;
    padding-right: 20rem;
}

.button__learn_more {
    display: block;
    width: 156rem;
    height: 44rem;
    background-image: url('../assets/arrow-right-white.svg');
    background-repeat: no-repeat;
    background-position-x: 116rem;
    background-position-y: 17rem;
    text-align: right;
    border-radius: 6rem;
    padding-right: 56rem;
}