header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: 76rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 48rem;
}

nav a img {
  display: block;
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 32rem;
}
.header__darkmode {
  padding-right: 17rem;
}