@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('../css/styles-reset.css');
@import url('../css/styles-headlines.css');
@import url('../css/styles-anchors-buttons.css');
@import url('../css/styles-appstore-googleplay.css');
@import url('../css/styles-toggle-switch.css');
@import url('../css/styles-section-02.css');
@import url('../css/styles-section-03.css');
@import url('../css/styles-layouts.css');

:root {
    --fontsize-default: 1px;

    --fontsize-heading-xl: 56rem;
    --fontsize-heading-l: 40rem;
    --fontsize-heading-m: 32rem;
    --fontsize-heading-s: 24rem;
    --fontsize-heading-xs: 20rem;

    --fontsize-body-l: 18rem;
    --fontsize-body-m: 16rem;
    --fontsize-body-s: 14rem;

    --fontweight-regular: 400;
    --fontweight-semibold: 500;
    --fontweight-extrabold: 800;

    --color-black: #000;
    --color-white: #FFF;
    --color-success: #22C55E;
    --color-error: #EF4444;
    --color-warning: #EF9A44;
    --color-info: #4C82F7;
    --color-primary: #6366F1;

    --color-gray-900: #0B0F19;
    --color-gray-700: #565973;
    --color-gray-600: #9397AD;
    --color-gray-100: #F3F6FF;

    --gradient-start: #6366F1;
    --gradient-middle: #8B5CF6;
    --gradient-end: #D946EF;
    
    --width-desktop: 1296rem;
    --height-xxl: 1304rem;
    --height-xl: 1176rem;
    --height-l: 1104rem;
    --height-m: 1077rem;
    --height-s: 876rem;
    --height-xs: 542rem;
    --height-xxs: 76rem;
}

*{
    border: 1rem dashed lightgray; /* REMOVE WHEN DONE */
}

html {
    font-family: 'Manrope', sans-serif;
    font-weight: var(--fontweight-regular);
    font-size: var(--fontsize-default);
    font-style: normal;
    font-optical-sizing: auto;
    color: var(--color-gray-700);
}

body {
    font-size: var(--fontsize-body-m);
}

.bg__dark {
    background-color: var(--color-gray-100);
}